@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.app .loading-bar.layer
{
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.7);
    display:flex;
    align-items: center;
    justify-content: center;
}

.app .loading-bar.outter
{
    opacity: 0.75;
    width:95%;
    height:50px;
    background-color:#989898;
    /*border:1px solid black;*/
    display:flex;
    align-items: center;
    justify-content: left;
    padding: 0 3px 0 3px;
    position: relative;
}

.app .loading-bar.inner
{
    z-index: 11;
    width:0%;
    height:44px;
    background-color:white;
    transition: width 0.1s ease;
}

.app .loading-bar.percentage, .app .loading-bar.collection, .app .loading-bar.last-loaded
{
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    position: absolute;
    z-index: 12;
    line-height: 50px;
    width:100%;
    text-align: center;
    font-size: 1.3em;
}

.app .loading-bar.last-loaded
{
    color:white;
    top : -50px;
}

.app .loading-bar.collection
{
    color:white;
    top : -100px;
}

.hidden
{
    display: none !important;
}