.app .display {
    border:1px solid #AAA79E;
    padding:35px;
    height: 80vh;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color:rgba(240,238,219,0.92);
    box-shadow: 0px 0 5px rgb(39, 39, 39, 0.5);
    /*backdrop-filter: blur(3px);*/
    /*scroll-snap-type: y mandatory;*/
}

.app .display .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 400px;
    gap:35px;
    align-content: center;
}

.app .display .pokemon-block {
    scroll-snap-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 50px);
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    color: #363636;
    box-shadow: 0 0 1px black;
    user-select: none;
    cursor: pointer;
    background-color: #F0EEDB;
    border:2px solid white;
    opacity: 0.80;
    border-radius: 1px;
    transition: 0.1s ease-out;
    box-shadow: 0px 0px 1px black;
}


.app .display .pokemon-block:hover
{
    transition: transform .1s ease-out;
    transform: scale(1.04);
    /*box-shadow: 0px 0px 5px black;*/
    outline: 2px solid #363636;
    opacity: 1;
}

.app .display .pokemon-block>*
{
    /*border:1px solid #F0EEDB;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.app .display .sprite
{
    grid-row: 2 / span 3;
    grid-column: 1 / span 1;
    border-right:1px solid white;
    border-bottom:1px solid white;
    /*border-left:1px solid #363636;*/
}

.app .display .sprite img
{
    /*padding:3px;*/
    width:110px;
    height:110px;
}

.app .display .shiny_sprite
{
    grid-row: 2 / span 3;
    grid-column: 2 / span 1;
    border-right:1px solid white;
    border-bottom:1px solid white;
    /*border-left:1px solid #363636;*/
}

.app .display .shiny_sprite img
{
    /*padding:3px;*/
    width:110px;
    height:110px;
}


.app .display .id
{
    color:#42413E;
    font-weight: 500;
    font-size: 1.3em;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    border-bottom: 1px solid #F0EEDB;
}

.app .display .weight
{
    grid-row: 3 / span 1;
    grid-column: 3 / span 2;
}

.app .display .height
{
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
}

.app .display .name
{
    color:#42413E;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 500;
    border-bottom: 1px solid #F0EEDB;
}

.app .display .types {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap : 2px;
    /*overflow-y:scroll;*/
    border-bottom: 1px solid #F0EEDB;
}

.app .display .types .type {
    /*background-color: rgba(255,255,255, 0.1);*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app .display .types .type img{
    width:35px;
    height:35px;
    border:2px solid white;
    border-radius: 50%;

    /*margin:auto;
    width:90%;
    padding:0;
    line-height: 14px;
    height:16px;
    font-size: 1em;
    text-align: center;
    color:white;*/
}

.app .display .abilities {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 16px;
    gap : 2px;
    row-gap: 4px;
    text-align: center;
    /*overflow-y:scroll;*/
}

.app .display .abilities .ability {
    margin:auto;
    width:90%;
    padding:0;
    line-height: 14px;
    height:16px;
    font-size: 1em;
    text-align: center;
    color:#42413E;
}

.app .display .stats {
    grid-row: 5 / span 4;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 40px;
}

.app .display .stats {
    grid-row: 5 / span 4;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    align-content: space-evenly;
}

.app .display .stats>*{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.app .display .stats .stat-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.app .display .stats .stat-gauge.outter{
    width: 95%;
    height:17px;
    /*border:1px solid #363636;*/
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 1px 0 1px;
    background-color: white;
    z-index:2
}

.app .display .stats .stat-gauge.inner{
    z-index: 3;
    width:0%;
    height:15px;
    background-color: rgba(54, 54, 54, 0.85);
}